
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container">
            <div class="col-md-12 text-center">
             <br>
            <h1 class="text-center">VOTING MANAGEMENT SYSTEM</h1> <br><br>
            <img src="./assets/images/imagesvoting.jpg" alt="" >
            <!-- <div>
              <div class="flagstand"></div>
              <ul>
                  <li></li>
                  <li>
                      <div class="round">
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                      </div>
                  </li>
                  <li></li>
              </ul> -->
              <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
          <!-- </div> -->
            <figure class="text-center">
                <blockquote class="blockquote">
                  <p><figure class="text-center">
                    <blockquote class="blockquote">
                      <p><b><h3>The ballot is stronger than the bullet</h3></b></p>
                    </blockquote>
                    <!-- <figcaption class="blockquote-footer"> <cite title="Source Title"> Abraham Lincoln</cite> -->
                    <!-- </figcaption> -->
                  </figure></p>
                </blockquote>
              </figure>

            <button type="button" class="btn btn-outline-primary" (click)="login1()">Admin Login</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-primary" (click)="login2()">Voter Login</button>
            <br><br><br><br>
            
            </div>
        </div>
    </div>
  </div>
  

  <!-- <div>
    <div class="flagstand"></div>
    <ul>
        <li></li>
        <li>
            <div class="round">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </li>
        <li></li>
    </ul>
    
</div> -->