

<body>
    
<div class="main-content">
    <div class="section-content section-content-p30"><div>
        <br>
         &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-primary" (click)="back3()">Go Back</button></div>
    <div class="col-md-12 text-center"> 
        <div class="container">
            
              
<div class="d-grid gap-2 col-6 mx-auto">
    <br><br><br><br><br><br><br><br><br><br>
    <button class="btn btn-primary" type="button" (click)="choice1()">Candidate List</button>
    <button class="btn btn-primary" type="button" (click)="choice2()">Voters List</button>
    <button class="btn btn-primary" type="button" (click)="choice3()">Votes List</button>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>
</div>
</div>

</body>

